{% extends "content.html" %}
{% load staticfiles %}


{% block subtitle %}{{ subtitle|title }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'labdata:'|add:subtitle %}">
        {{ subtitle|title }}
    </a></li>
{% endblock %}


{% block localnav %}
    <li class="campl-selected">
        <a href="{% url 'labdata:'|add:subtitle %}">
            {{ subtitle|title }}
        </a>
        <ul class="campl-unstyled-list campl-vertical-breadcrumb-children">
            <li><a href="#synbio">Synthetic Biology</a></li>
            <li><a href="#toxo">Toxoplasma Gondii</a></li>
            <li><a href="#other">Other</a></li>
        </ul>
{% endblock %}


{% block maincontent %}
{% endblock %}
