
{% extends "content.html" %}
{% load staticfiles %}

{% block content %}
    {% with True as show_links %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block vbreadcrumbs %}
{% endblock %}

{% block localnav %}
    <li class="campl-selected">
        <ul class="campl-unstyled-list campl-vertical-breadcrumb-children">
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/funding">Funding</a></li>
            <li><a href="/publications">Publications</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/people">People</a></li>
        </ul>
    </li>
{% endblock %}

{% block subtitle %}{{ flatpage.title }}{% endblock %}

{% block maincontent %}
    {{ flatpage.content }}
{% endblock %}


