{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %}Ajioka Lab{% endblock %}
{% block breadcrumbs %}
    <li>
        <p class="campl-current">Ajioka Lab</p>
    </li>
{% endblock %}

{% block content %}
<div class="campl-row campl-page-header"  id="content">
    <div class="campl-wrap clearfix">
        <div class="campl-column12">
            <div class="campl-column9 campl-recessed-carousel">
                <div class="section-carousel campl-carousel clearfix campl-banner">
                    <div class="campl-carousel-container">
                        <ul class="campl-unstyled-list campl-slides">
                            {% for c in carosel %}
                            <li class="campl-slide campl-column12">
                                <div class="image-container">
                                <a href="{{ c.get_url }}">
                                    <img src="{% static c.get_banner_url %}" class="campl-scale-with-grid" style="height:432px"/>
                                </a>
                                </div>
                                <div class="campl-slide-caption">
                                    <a href=""><span class="campl-slide-caption-txt">
                                        {% if c.title %}{{ c.title }}
                                        {% else %}{{ c.name }}
                                        {% endif %}
                                    </span></a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="campl-column3">
                &nbsp;
            </div>
        </div>
    </div>
</div>
<div class="campl-row campl-content campl-recessed-content" >
    <div class="campl-wrap clearfix">

        <div class="campl-column6 campl-main-content" style="min-height: 718px;">
            <div class="campl-content-container campl-sub-column-right-border"> 
                <div class="campl-horizontal-teaser campl-teaser clearfix"> 
                    <div class="campl-column6">
                        <div class="campl-content-container campl-horizontal-teaser-img">
                            <a href="#" class="campl-teaser-img-link">
                                <img alt="" src="static/images/content/homepage-jim.jpg" class="campl-scale-with-grid">
                            </a>
                        </div>
                    </div>
                    <div class="campl-column6">
                        <div class="campl-content-container campl-horizontal-teaser-txt">
                            <h3 class="campl-teaser-title"><a href="/about/">The Ajioka Lab</a></h3>
                            {{ greeting|safe }}

                            <a href="/about/" class="campl-primary-cta">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="campl-teaser-divider">
            
            <div class="campl-content-container campl-sub-column-right-border clearfix campl-vertical-padding">
                <div class="campl-column6">
                    <div class="campl-content-container campl-side-padding">
                        <div class="campl-vertical-teaser campl-teaser"> 
                            <div class="campl-content-container campl-vertical-teaser-img">
                                <a href="/about#toxo" class="campl-teaser-img-link">
                                    <img alt="" src="/static/images/content/home-toxo.jpg" class="campl-scale-with-grid">
                                </a>
                            </div>
                            <div class="campl-content-container campl-vertical-teaser-txt">
                                <h3 class="campl-teaser-title"><a href="/about#toxo">Toxoplasma Gondii</a></h3>
                                {{ toxo|safe }}
                                <a href="/about#toxo" class="campl-primary-cta">More Information</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="campl-column6">
                    <div class="campl-content-container campl-sub-column-left-border campl-side-padding">
                        <div class="campl-vertical-teaser campl-teaser"> 
                            <div class="campl-content-container campl-vertical-teaser-img">
                                <a href="/about#synbio" class="campl-teaser-img-link">
                                    <img alt="" src="static/images/content/home-synbio.jpg" class="campl-scale-with-grid">
                                </a>
                            </div>
                            <div class="campl-content-container campl-vertical-teaser-txt">
                                <h3 class="campl-teaser-title"><a href="/about#synbio">Synthetic Biology</a></h3>
                                {{ synbio|safe }}
                                <a href="/about#synbio" class="campl-primary-cta">More Information</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="campl-column3">
            <div class="campl-content-container campl-sub-column-left-border campl-main-content-sub-column">
                <div class="campl-heading-container">
                    <h2>Latest News</h2>
                </div>
            </div>
            <div class="campl-content-container campl-no-top-padding campl-sub-column-left-border campl-main-content-sub-column clearfix">	
                {% include 'news_listing.html' with arg=news only %}
                <p><a href="/news/" class="campl-secondary-cta campl-float-right ">View all news</a></p>
            </div>
    
        </div>
        
    <div class="campl-column3 campl-secondary-content campl-recessed-secondary-content">
        {% include "related-links.html" %}
    </div>

</div>
{% endblock %}
