{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %}Ajioka Lab{% endblock %}
{% block breadcrumbs %}
    <li>
        <p class="campl-current">Ajioka Lab</p>
    </li>
{% endblock %}

{% block content %}
	<div class="campl-row campl-page-header"  id="content">
		<div class="campl-wrap clearfix">
			<div class="campl-column12">
				<div class="campl-column9 campl-recessed-carousel">
					<div class="section-carousel campl-carousel clearfix campl-banner">
						<div class="campl-carousel-container">
							<ul class="campl-unstyled-list campl-slides">
								<li class="campl-slide campl-column12">
									<div class="image-container">
									<a href="">
										<img alt="" title=""  src="{% static "images/content/carousel-1.png" %}" class="campl-scale-with-grid" />
									</a>
									</div>
									<div class="campl-slide-caption">
										<a href=""><span class="campl-slide-caption-txt">These images and titles will come from projects or news items</span></a>
									</div>
								</li>
								<li class="campl-slide campl-column12">
									<div class="image-container">
									<a href="">
										<img alt="" title=""  src="{% static "images/content/carousel-2.png" %}" class="campl-scale-with-grid" />
									</a>
									</div>
									<div class="campl-slide-caption">
										<a href=""><span class="campl-slide-caption-txt">and will link to project pages</span></a>
									</div>
								</li>
								<li class="campl-slide campl-column12">
									<div class="image-container">
									<a href="">
										<img alt="" title=""  src="{% static "images/content/carousel-3.png" %}" class="campl-scale-with-grid" />
									</a>
									</div>
									<div class="campl-slide-caption">
										<a href=""><span class="campl-slide-caption-txt">which will give more details about the projects</span></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="campl-column3">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
	<div class="campl-row campl-content campl-recessed-content" >
		<div class="campl-wrap clearfix">
			<div class="campl-column6 campl-main-content">
				<div class="campl-content-container campl-sub-column-right-border"> 
					<div class="campl-horizontal-teaser campl-teaser clearfix"> 
						<div class="campl-column6">
							<div class="campl-content-container campl-horizontal-teaser-img">
								<a href="#" class="campl-teaser-img-link"><img alt=""  src="{% static "images/content/homepage-jim.jpg" %}" class="campl-scale-with-grid" /></a>
							</div>
						</div>
						<div class="campl-column6">
							<div class="campl-content-container campl-horizontal-teaser-txt">
								<h3 class='campl-teaser-title'><a href="#">The Ajioka Lab</a></h3>
                                <p>Short blurb about the lab</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<a href="#" class="campl-primary-cta">Read more</a>
							</div>
						</div>
					</div>
				</div>

				<hr class="campl-teaser-divider" />
				
				<div class="campl-content-container campl-sub-column-right-border clearfix campl-vertical-padding">
					<div class="campl-column6">
						<div class="campl-content-container campl-side-padding">
							<div class="campl-vertical-teaser campl-teaser"> 
								<div class="campl-content-container campl-vertical-teaser-img">
									<a href="#" class="campl-teaser-img-link">
										<img alt=""  src="{% static "images/content/image-placeholder-03.jpg" %}" class="campl-scale-with-grid" />
									</a>
								</div>
								<div class="campl-content-container campl-vertical-teaser-txt">
									<h3 class='campl-teaser-title'><a href="#">Toxoplasma Gondii</a></h3>
									<p>Short blurb about toxo, and why we're looking into it.</p>
									<a href="#1" class="campl-primary-cta">View Projects</a>
								</div>
							</div>
						</div>
					</div>
					<div class="campl-column6">
						<div class="campl-content-container campl-sub-column-left-border campl-side-padding">
							<div class="campl-vertical-teaser campl-teaser"> 
								<div class="campl-content-container campl-vertical-teaser-img">
									<a href="#" class="campl-teaser-img-link">
										<img alt=""  src="{% static "images/content/image-placeholder-04.jpg" %}" class="campl-scale-with-grid" />
									</a>
								</div>
								<div class="campl-content-container campl-vertical-teaser-txt">
									<h3 class='campl-teaser-title'><a href="#">Synthetic Biology</a></h3>
									<p>Short blurb about Synbio</p>
									<a href="#2" class="campl-primary-cta">View Projects</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="campl-column3">
				<div class="campl-content-container campl-sub-column-left-border campl-main-content-sub-column">
					<div class="campl-heading-container">
						<h2>Latest news</h2>
					</div>
				</div>
				<div class="campl-content-container campl-no-top-padding campl-sub-column-left-border campl-main-content-sub-column">	
					<div class="campl-listing-item campl-news-listing clearfix">
						<p class="campl-listing-title"><a href="#4">News stories pulled from the database</a></p>
						<span class="campl-datestamp">31 August 2012</span>
                        <p>The danger is that it may never get updated (see <a href="http://www.micklemlab.org/news">Gos's news page</a>).</p>
					</div>
					<div class="campl-listing-item campl-news-listing clearfix">
						<p class="campl-listing-title"><a href="#4">Ham Hill digs enhance picture of Iron Age life</a></p>
						<span class="campl-datestamp">30 August 2012</span>
						<p>A second season of excavations at Britain’s biggest Iron Age hill-fort has uncovered remains of Roman weaponry, and the site of the first “ham stone” house.</p>
					</div>
					<div class="campl-listing-item campl-news-listing clearfix">
						<p class="campl-listing-title"><a href="#4">Stephen Hawking in Paralympics Opening Ceremony</a></p>
						<span class="campl-datestamp">30 August 2012</span>
						<p>A thought-provoking extravaganza marking the beginning of the Paralympic Games was kicked off yesterday by Professor Stephen Hawking (pictured here at the Technical Rehearsal).</p>
					</div>

					<p><a href="" class="campl-secondary-cta campl-float-right ">View all news</a></p>
				</div>
		
			</div>
			
			<div class="campl-column3 campl-secondary-content campl-recessed-secondary-content">
				<div class="campl-content-container">
					<div class="campl-heading-container">
						<h2>Related Links</h2>
					</div>
					<ul class='campl-unstyled-list campl-related-links'>
						<li><a href="#">Pull a list of useful links</a></li>
						<li><a href="#">from the database</a></li>
						<li><a href="#">and put them here.</a></li>
						<li><a href="#">Handy for when</a></li>
						<li><a href="#">"There's a link to it on my site"</a></li>
						<li><a href="#">happens</a></li>
					</ul>
				</div>
				<div class="campl-content-container">
					<div class="campl-vertical-teaser campl-teaser campl-promo-teaser"> 
						<div class="campl-content-container campl-vertical-teaser-txt">
							<p class='campl-teaser-title'><a href="#">Contact the Lab</a></p>
						</div>
						<div class="campl-content-container campl-vertical-teaser-img">
							<a href="#" class="campl-teaser-img-link"><img alt=""  src="{% static "images/content/homepage-promo-placeholder.png" %}" class="campl-scale-with-grid" /></a>
						</div>
						<div class="campl-content-container campl-vertical-teaser-txt clearfix">
							<p>Contact details are available on the contact page</p>
							<a href="#4" class="campl-secondary-cta campl-float-right">Get in touch</a>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
{% endblock %}
