{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %}Ajioka Lab{% endblock %}
{% block breadcrumbs %}
    <li>
        <p class="campl-current">Ajioka Lab</p>
    </li>
{% endblock %}

{% block content %}
<div class="campl-row campl-page-header"  id="content">
    <div class="campl-wrap clearfix">
        <div class="campl-column12">
            <div class="campl-column9 campl-recessed-carousel">
                <div class="section-carousel campl-carousel clearfix campl-banner">
                    <div class="campl-carousel-container">
                        <ul class="campl-unstyled-list campl-slides">
                            <li class="campl-slide campl-column12">
                                <div class="image-container">
                                <a href="">
                                    <img alt="" title=""  src="{% static "images/content/carousel-1.png" %}" class="campl-scale-with-grid" />
                                </a>
                                </div>
                                <div class="campl-slide-caption">
                                    <a href=""><span class="campl-slide-caption-txt">These images and titles will come from projects or news items</span></a>
                                </div>
                            </li>
                            <li class="campl-slide campl-column12">
                                <div class="image-container">
                                <a href="">
                                    <img alt="" title=""  src="{% static "images/content/carousel-2.png" %}" class="campl-scale-with-grid" />
                                </a>
                                </div>
                                <div class="campl-slide-caption">
                                    <a href=""><span class="campl-slide-caption-txt">and will link to project pages</span></a>
                                </div>
                            </li>
                            <li class="campl-slide campl-column12">
                                <div class="image-container">
                                <a href="">
                                    <img alt="" title=""  src="{% static "images/content/carousel-3.png" %}" class="campl-scale-with-grid" />
                                </a>
                                </div>
                                <div class="campl-slide-caption">
                                    <a href=""><span class="campl-slide-caption-txt">which will give more details about the projects</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="campl-column3">
                &nbsp;
            </div>
        </div>
    </div>
</div>
<div class="campl-row campl-content campl-recessed-content" >
    <div class="campl-wrap clearfix">

{{ flatpage.content|safe }}

        <div class="campl-column3">
            <div class="campl-content-container campl-sub-column-left-border campl-main-content-sub-column">
                <div class="campl-heading-container">
                    <h2>Latest news</h2>
                </div>
            </div>
            <div class="campl-content-container campl-no-top-padding campl-sub-column-left-border campl-main-content-sub-column">	
                <div class="campl-listing-item campl-news-listing clearfix">
                    <p class="campl-listing-title"><a href="#4">News stories pulled from the database</a></p>
                    <span class="campl-datestamp">31 August 2012</span>
                    <p>The danger is that it may never get updated (see <a href="http://www.micklemlab.org/news">Gos's news page</a>).</p>
                </div>
                <div class="campl-listing-item campl-news-listing clearfix">
                    <p class="campl-listing-title"><a href="#4">Ham Hill digs enhance picture of Iron Age life</a></p>
                    <span class="campl-datestamp">30 August 2012</span>
                    <p>A second season of excavations at Britain’s biggest Iron Age hill-fort has uncovered remains of Roman weaponry, and the site of the first “ham stone” house.</p>
                </div>
                <div class="campl-listing-item campl-news-listing clearfix">
                    <p class="campl-listing-title"><a href="#4">Stephen Hawking in Paralympics Opening Ceremony</a></p>
                    <span class="campl-datestamp">30 August 2012</span>
                    <p>A thought-provoking extravaganza marking the beginning of the Paralympic Games was kicked off yesterday by Professor Stephen Hawking (pictured here at the Technical Rehearsal).</p>
                </div>

                <p><a href="" class="campl-secondary-cta campl-float-right ">View all news</a></p>
            </div>
    
        </div>
        
    <div class="campl-column3 campl-secondary-content campl-recessed-secondary-content">
        {% include "related-links.html" %}
    </div>

</div>
{% endblock %}
