{% extends "area.html" %}
{% load staticfiles %}


{% block maincontent %}
<img src="{% static 'images/content/'|add:subtitle|add:'-header.jpg' %}" alt="" class="campl-scale-with-grid" />

    <div class="campl-content-container">
        <h2 id='synbio'>Synthetic Biology</h2>
        <div class="campl-content-container">
            {% include listing_template with arg=synbio only %}
        </div>

        <h2 id='toxo'>Toxoplasma Gondii</h2>
        <div class="campl-content-container">
            {% include listing_template with arg=toxo only %}
        </div>

    {% if other %}
        <h2 id='other'>Other {{subtitle | title}}</h2>
        <div class="campl-content-container">
                {% include listing_template with arg=other only %}
        </div>
    {% endif %}

    </div>
{% endblock %}

