{% extends "content.html" %}
{% load staticfiles %}


{% block subtitle %}{{ subtitle|title }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'labdata:'|add:subtitle %}">
        {{ subtitle|title }}
    </a></li>
{% endblock %}


{% block localnav %}
    <li class="campl-selected">
        <a href="{% url 'labdata:'|add:subtitle %}">
            {{ subtitle|title }}
        </a>
        <ul class="campl-unstyled-list campl-vertical-breadcrumb-children">
        {% if localnav %}
            {% for l in localnav %}
                <li><a href="{{l.1}}">{{ l.0 }}</a></li>
            {% endfor %}
        {% else %}
            {% for item in items %}
                {% if item.objects %}
                <li><a href="#{{item.id}}">{{item.title}}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        </ul>
{% endblock %}


{% block maincontent %}
<img src="{% static 'images/content/'|add:subtitle|add:'-header.jpg' %}" alt="" class="campl-scale-with-grid" />

    <div class="campl-content-container">
        {% for item in items %}
            {% if item.objects %}
                {% if item.title %}
                <h2 id='{{item.id}}'>{{item.title}}</h2>
                {% endif %}
                <div class="campl-content-container">
                    {% include listing_template with arg=item.objects only %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}

