{% extends "people.html" %}
{% load staticfiles %}


{% block extracrumbs %}
    <li><a href="{% url 'labdata:person' person.slug %}">{{person.name}}</a></li>
{% endblock %}


{% block maincontent %}
    <div class="campl-content-container">
        <h1>{{ person.fullName }}</h1>
        <h5>{{ person.getRole }}</h5>
        <div class="campl-listing-item profile-listing clearfix">
            <div class="campl-content-container">
                <div class="campl-column9">
                    <div class="campl-content-container campl-listing-txt">
                        <p>{{ person.bio }}</p>
                        {% if person.email %}
                        <p>Email: <a href="mailto:{{ person.email }}">{{person.email}}</a></p>
                        {% endif %}
                    </div>
                </div>
                <div class="campl-column3">
                    <div class="campl-content-container campl-listing-img">
                    {% if person.mug_shot %}
                        <img alt=""  src="{{ person.mug_shot.url }}" class="campl-scale-with-grid" />
                    {% else %}
                        <img alt=""  src="{% static 'images/content/profile-placeholder.jpg' %}" class="campl-scale-with-grid" />
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        
        <h2>Research Interests</h2>
        
        <div class="campl-content-container">
            {{ person.research_interests|safe }} 
        </div>
        
        {% if projects %}
        <h2>Research Projects</h2>

        <div class="campl-content-container">
            {% for p in projects %}
                <div class="campl-listing-item clearfix">
                    <p class="campl-listing-title">
                        <a href="{% url 'labdata:project' p.slug %}">{{ p.name }}</a>
                    </p>
                    <p>
                        {{ p.short_description }}
                    </p>
                    <a class="campl-secondary-cta campl-float-right" href="{% url 'labdata:project' p.slug %}">Read More</a>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        
        {% if publications %} 
        <h2>Publications</h2>
            {% include "publication_listing.html" with arg=publications only %}

        {% endif %}
    </div>
   
{% endblock %}

