{% extends "area.html" %}
{% load staticfiles %}


{% block maincontent %}
    <img src="{% static 'images/content/recessed-image-placeholder.jpg' %}" alt="" class="campl-scale-with-grid" />

    <div class="campl-content-container">
        <h2 id='synbio'>Synthetic Biology</h2>
        <div class="campl-content-container">
            {% for p in synbio %}
                {% include 'project_listing.html' with project=p only %}
            {% endfor %}
        </div>

        <h2 id='toxo'>Toxoplasma Gondii</h2>
        <div class="campl-content-container">
            {% for p in toxo %}
                {% include 'project_listing.html' with project=p only %}
            {% endfor %}
        </div>

        <h2 id='other'>Other Projects</h2>
        <div class="campl-content-container">
            {% for p in other %}
                {% include 'project_listing.html' with project=p only %}
            {% endfor %}
        </div>

    </div>
{% endblock %}

