{% extends "area.html" %}
{% load staticfiles %}

{% block subtitle %}
    {% if area %}
    Projects :
        {% ifequal area 'synbio' %}Synthetic Biology{% endifequal %}
        {% ifequal area 'toxo' %}Toxoplasma Gondii{% endifequal %}
        {% ifequal area 'other' %}Other{% endifequal %}
    {% else %}
        Projects
    {% endif %}
{% endblock %}

{% block localnav_items %}
    {% for p in projects %}
        <li><a href="{% url 'labdata:project' area p.slug %}">{{p.name}}</a></li>
    {% endfor %}
{% endblock %}


{% block maincontent %}
    <img src="{% static 'images/content/recessed-image-placeholder.jpg' %}" alt="" class="campl-scale-with-grid" />

    <div class="campl-content-container">
        {% for p in projects %}
            <div class="campl-listing-item clearfix">
                <p class="campl-listing-title">
                    <a href="{% url 'labdata:project' p.area p.slug %}">{{ p.name }}</a>
                </p>
                <p>
                    {{ p.short_description }}
                </p>
                <a class="campl-secondary-cta campl-float-right" href="{% url 'labdata:project' p.area p.slug %}">Read More</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

