{% extends "sub-section.html" %}

{% block subtitle %}
    {% if area %}
        {% ifequal area 'synbio' %}
        Synthetic Biology Projects
        {% endifequal %}
        {% ifequal area 'toxo' %}
        Toxoplasma Gondii Projects
        {% endifequal %}
    {% else %}
        All Projects
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href='/'>Ajioka Lab</a></li>
    {% if area %}
        <li><a href="{% url 'labdata:projects' %}">All Projects</a></li>
        {% ifequal area 'synbio' %}
        <li><a href="{% url 'labdata:projects' area %}">SynBio Projects</a></li>
        {% endifequal %}
        {% ifequal area 'toxo' %}
        <li><a href="{% url 'labdata:projects' area %}">Toxo Projects</a></li>
        {% endifequal %}
    {% else %}
        <li><p class='campl-current'>All Projects</p></li>
    {% endif %}

{% endblock %}

{% block vbreadcrumbs %}
    <li><a href="/">AjiokaLab<span class="campl-vertical-breadcrumb-indicator"></span></a></li>
    <li><a href="{% url 'labdata:projects' %}">All Projects<span class="campl-vertical-breadcrumb-indicator"></span></a></li>
    {% if area %}
    <li><a href="{% url 'labdata:projects' area %}">
        {% ifequal area 'synbio' %}
            Synthetic Biology Projects
        {% endifequal %}
        {% ifequal area 'toxo' %}
            Toxoplasma Gondii Projects
        {% endifequal %}
    <span class="campl-vertical-breadcrumb-indicator"></span></a></li>
    {% endif %}
{% endblock %}


{% block localnav %}
    {% if area %}
        {% for p in projects %}
            <li><a href="{% url 'labdata:project' p.slug %}">{{ p.name }}</a></li>
        {% endfor %}
    {% else %}
        <li><a href="{% url 'labdata:projects' 'synbio' %}">Synthetic Biology</a></li>
        <li><a href="{% url 'labdata:projects' 'toxo' %}">Toxoplasma Gondii</a></li>
    {% endif %}
{% endblock %}

{% block sectioncontent %}
   <h2>List of Projects</h2>

    <p>Todo! List of every project</p>

{% endblock %}
