{% extends "sub-section.html" %}

{% block subtitle %}{{ project.name }}{% endblock %}

{% block localnav %}
    {% for proj in projects %}
        <li><a href="{% url 'labdata:project' proj.slug %}">{{ proj.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block sectioncontent %}
<div class="campl-content-container">
    <h2>{{ project.name }}</h2>

    {{ project.long_description }}

    {% if project.people %}
    <h3>People</h3>
    <ul class="campl-unstyled-list">
    {% for person in project.people %}
        <li><a href="/people/{{person.slug}}">{{person.name}}</a></li>    
    {% endfor %}
    </ul>
    {% endif %}
    
</div>

{% endblock %}
