{% extends "content.html" %}
{% load staticfiles %}

{% block subtitle %}Projects : {{project.name}}{% endblock %} 

{% block breadcrumbs %}
    <li><a href="{% url 'labdata:projects' %}">
        {{ subtitle|title }}
    </a></li>
    <li><a href="{% url 'labdata:project' project.slug %}">
        {{ project.name }}
    </a></li>
{% endblock %}

{% block vbreadcrumbs %}
<li>
    <a href="{% url 'labdata:'|add:subtitle %}">
        Projects
        <span class="campl-vertical-breadcrumb-indicator"></span>
    </a>
</li>
{% endblock %}


{% block localnav %}
    <li class="campl-selected">
        <a href="{% url 'labdata:projects' %}#{{ project.area }}">
            {{ project.longArea }}
        </a>
        <ul class="campl-unstyled-list campl-vertical-breadcrumb-children">
            {% for p in projects %}
            <li><a href="{% url 'labdata:project' p.slug %}">
                {{ p.name }}
            </a></li>
            {% endfor %}
        </ul>
{% endblock %}

{% block maincontent %}
    <img src="{% static project.get_banner_url %}" alt="" class="campl-scale-with-grid" />

    <div class="campl-content-container">
        <h2>{{ project.name }}</h2>

        {{ project.long_description|safe }}

        <h3>People</h3>
            <ul class="campl-unstyled-list">
                {% for p in project.person.all %}
                <li><a href="{% url "labdata:person" p.slug %}">{{ p.fullName }}</a></li>
                {% endfor %}
                </li>
            </ul>
    </div>
    
{% endblock %}

