{% extends "sub-section.html" %}

{% block subtitle %}Publications{% endblock %}

{% block breadcrumbs %}
    <li><a href='/'>Ajioka Lab</a></li>
    <li><p class="campl-current">Publications</a></li>
{% endblock %}

{% block vbreadcrumbs %}
    <li><a href="/">AjiokaLab<span class="campl-vertical-breadcrumb-indicator"></span></a></li>
    <li><a href="{% url 'labdata:publications' %}">Publications<span class="campl-vertical-breadcrumb-indicator"></span></a></li>
{% endblock %}


{% block localnav %}
    
{% endblock %}

{% block sectioncontent %}
    <div class="campl-content-container">
        {% for p in pubs %}
        <div class="campl-listing-item clearfix">
            <p class="campl-listing-title">
                {{p.name}}
            </p>
            <p>{{p.short_desc}}</p>
            <a class="campl-secondary-cta campl-float-right" href="{% url 'labdata:project' p.slug %}">Read More</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
