<table class='campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table'>
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Journal</th>
            <th>Authors</th>
        </tr>
    </thead>
    <tbody>

{% for r in arg %}
    <tr>
        <td><a href="{{r.link}}">{{ r.title }}</a></td>
        <td>{{ r.date }}</td>
        <td>{{ r.journal }}</td>
        <td>{{ r.authors }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
