{% extends "content.html" %}
{% load staticfiles %}

{% block subtitle %}{{theme.name}}{% endblock %} 

{% block breadcrumbs %}
    <li><a href="{% url 'labdata:research_themes' %}">
        {{ subtitle|title }}
    </a></li>
    <li><a href="{% url 'labdata:research_theme' theme.slug %}">
        {{ theme.name }}
    </a></li>
{% endblock %}

{% block vbreadcrumbs %}
<li>
    <a href="{% url 'labdata:research_themes' %}">
        Research Themes
        <span class="campl-vertical-breadcrumb-indicator"></span>
    </a>
</li>
{% endblock %}


{% block localnav %}
    <li class="campl-selected">
        <a href="{% url 'labdata:research_themes' %}#{{ theme.area }}">
            {{ theme.longArea }}
        </a>
        <ul class="campl-unstyled-list campl-vertical-breadcrumb-children">
            {% for p in themes %}
            <li><a href="{% url 'labdata:research_theme' p.slug %}">
                {{ p.name }}
            </a></li>
            {% endfor %}
        </ul>
{% endblock %}

{% block maincontent %}
    <img src="{% static theme.get_banner_url %}" alt="" class="campl-scale-with-grid" />

    <div class="campl-content-container">
        <h2>{{ theme.name }}</h2>

        {{ theme.long_description|safe }}

        <h3>People</h3>
            <ul class="campl-unstyled-list">
                {% for p in theme.person.all %}
                <li><a href="{% url "labdata:person" p.slug %}">{{ p.fullName }}</a></li>
                {% endfor %}
                </li>
            </ul>
    </div>
    
{% endblock %}

