{% for r in arg %}
<div class="campl-listing-item campl-search-listing clearfix">
    <div class="campl-column10">
        <div class="campl-content-container campl-listing-txt">
            <p class="campl-listing-title">
                <a href="{{ r.url }}">
                    {{ r.title }}
                </a>
            </p>
            <p>
                {{ r.desc }}
            </p>
            <p>
                <a href="" class="campl-external">
                    {{ r.url }}                
                </a>
            </p>
        </div>
    </div>
    <div class="campl-column2">
        <div class="campl-content-container campl-listing-img">
            <img alt="" src="{{ r.icon.url }}" class="campl-scale-with-grid">
        </div>
    </div>
</div>
{% endfor %}
