{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div class="campl-row campl-content campl-recessed-content">
    <div class="campl-wrap clearfix">
        <div class="campl-column3">
            <div class="campl-tertiary-navigation">
                <div class="campl-tertiary-navigation-structure">
                    <ul class="campl-unstyled-list campl-vertical-breadcrumb">
                        {% block vbreadcrumbs %}
                        <li><a href="/">AjiokaLab<span class="campl-vertical-breadcrumb-indicator"></span></a></li>
                        {% if vbreadcrumbs %}
                            {% for vb in vbreadcrumbs %}
                            {% if not forloop.last %}
                            <li><a href="{{ vb.0 }}">{{ vb.1 }}<span class="campl-vertical-breadcrumb-indicator"></span></a></li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% endblock %}
                    </ul>	
                    <ul class="campl-unstyled-list campl-vertical-breadcrumb-navigation">	
                        {% with vbreadcrumbs|last as local %}
                        <li class="campl-selected"><a href="{{ local.0 }}">{{ local.1 }}</a>
                        {% endwith %}
                            <ul class='campl-unstyled-list campl-vertical-breadcrumb-children'>
                        {% block localnav %}
                            {% for nav in localnav %}
                                <li><a href="{{ nav.0 }}">{{ nav.1 }}</a></li>
                            {% endfor %}
                        {% endblock %}
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="campl-column6  campl-main-content" id="content">
            <img src="{% static "images/content/recessed-image-placeholder.jpg" %}" alt="" class="campl-scale-with-grid" />

            <div class="campl-content-container">
                {% block sectioncontent %}
                {% endblock %}
            </div>
                
        </div>

        <div class="campl-column3 campl-secondary-content">
            {% include "related-links.html" %} 
        </div>
    </div>	
</div>
{% endblock %}
